<%= render 'shared/errors', { obj: @product_subcategory } %>

<%= form_with model: @product_subcategory, data: { turbo: false } do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :parent_id %>
    <%= f.collection_select :parent_id, @categories, :id, :name %>
  </div>

  <%= f.submit t('.submit_text') %>
<% end %>
