
<div class="container">
  <%= form_with model: @product_category, data: { turbo: false } do |f| %>
    <%= render partial: 'form_errors', locals: { object: @product_category } %>

    <div class="form-group mb-3">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control mb-2' %>
    </div>

    <div>
      <%= f.submit 'Cadastrar', class: 'btn btn-secondary mt-2' %>
    </div>
  <% end %>
<div>
