<section class="container-lg text-center pt-3 pe-4 ps-4">
  <h1 class="mb-1 fw-bold"><%= t(:client_area) %></h1>
  <div class="mb-4 mt-4">

    <%= render 'nav-tab' %>
    
    <div class="col-lg col-sm-12 text-start fs-4">
      <div class="row">
        <h3 class="fw-bold"><%= t('.my_addresses')%></h3>
        <%= link_to 'Cadastrar novo endereço', new_address_path %>
      </div>
    
      <% if @user.addresses.any? %>
        <% @user.addresses.each do |address| %>
          <div class="address-painel card w-75 p-4 my-4 mx-auto bg-light rounded shadow-sm">
            <div class="d-flex justify-content-between" id="select_address_<%= address.id %>">
              <div>
                <p><%= address.address %>, <%= address.number %></p>
                <p><%= address.city %>, <%= address.state %></p>
                <p><%= Address.human_attribute_name(:zipcode) %> <%= address.zipcode %></p>
              </div>
              
              <div class="actions d-flex flex-column align-self-center justify-content-between controls">
                <% unless @user.client_addresses.exists?(address_id: address.id, default: true) %>
                  <%= button_to 'Selecionar como Padrão', set_default_address_path(address), method: :post, class: "btn btn-outline-primary btn-sm" %>
                <% end %>

                <div class="d-flex gap-1">
                  <%= form_with url: edit_address_path(address), method: :get, class: "flex-grow-1" do |f| %>
                    <%= f.button 'Editar', type: "submit", class: "w-100 btn btn-outline-secondary btn-sm" %>
                  <% end %>

                  <%= button_to 'Remover', address_path(address), method: :delete, class: "btn btn-outline-danger btn-sm" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
