<section class="container-lg text-center pt-3 pe-4 ps-4">
  <h1 class="mb-1 fw-bold"><%= t(:client_area) %></h1>
  <div class="mb-4 mt-4">

    <%= render 'nav-tab' %>

    <div class="col-lg col-sm-12 text-start fs-4">
      <div class="row">
        <h3 class="fw-bold"><%= t('.my_addresses')%></h3>
        <%= button_to 'Cadastrar novo endereço', new_address_path, method: :get, class: "btn btn-primary" %>
      </div>

      <%= render 'addresses_list', user: @user %>
    </div>
  </div>
</section>
