<div class="container-lg text-center pt-3 pe-4 ps-4">
  <h1 class="mb-1 fw-bold"><%= t(:product_favorites) %></h1>
  <div class="mb-4 mt-4">

  <%= render 'nav-tab' %>

    <div class="col-lg col-sm-12 text-start fs-4">
      <div class="row">
        <% @favorites&.each do |favorite| %>
          <h3><%= favorite.product.code %> - <%= favorite.product.name %></h3>
          <%= button_to 'Excluir', favorite_path(favorite), method: :delete, id: favorite.id %>
        <% end %> 
        <% if @favorites.empty? %>       
          <h3>Você não selecionou nenhum produto como favorito</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>  