<div class="container-lg text-center pt-3 pe-4 ps-4">
    <h1 class="mb-1 fw-bold"><%= t(:client_area) %></h1>
    
    <%= render 'nav-tab' %>
    
    <% if @favorites_active.any? || @favorites_inactive.any? %>
      <% if @favorites_active.any? %>
        <section class="text-start available d-flex flex-column">
          <h4><%= t('.available_product') %></h4>
          <% @favorites_active.each_slice(4).with_index do |product_favorite, index| %>
            <div class="d-flex align-items-stretch gap-4" style="height: 400px;">
              <% product_favorite.each do |favorite| %>
                <div>
                  <div class="card shadow-sm p-3 mb-5 bg-white rounded product-card" id=<%= favorite.product.code %>>
                    <% if favorite.product.product_images.attached? %>
                      <%= image_tag(favorite.product.product_images[0], alt:favorite.product.name, class:"card-img-top card-image")%>
                    <% else %>
                      <%= image_tag(asset_path('no_image.jpg'), alt:favorite.product.name, class:"card-img-top card-image")%>
                    <% end %>
                      <div class="card-body">
                        <h5 class="card-title text-truncate"><%= link_to "#{favorite.product.name}, #{favorite.product.brand}", product_path(favorite.product.id) %></h5>
                        <p class="text-truncate mw-2"><%= favorite.product.description %></p>
                        <%= show_promotional_price(favorite.product, @company) if current_user&.card_info.present? || current_user&.admin? %>
                        <%= button_to 'Excluir', favorite_path(favorite), method: :delete, id: favorite.id, class: 'btn btn-outline-secondary btn-sm w-100' %>
                      </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </section>
      <% end %>

      <% if @favorites_inactive.any? %>
        <section class="text-start unavailable d-flex flex-column">
          <h4><%= t('.unavailable_product.other') %></h4>
          <% @favorites_inactive.each_slice(4).with_index do |product_favorite, index| %>
            <div <%= carousel_item(index) %>>
              <div class="d-flex flex-row gap-3 m-auto">
                <% product_favorite.each do |favorite| %>
                  <div>
                    <div class="card shadow-sm p-3 mb-5 bg-white rounded product-card" id=<%= favorite.product.code %> title="<%=t('.unavailable_product.one')%>">
                      <% if favorite.product.product_images.attached? %>
                        <%= image_tag(favorite.product.product_images[0], alt:favorite.product.name, class:"card-img-top card-image")%>
                      <% else %>
                        <%= image_tag(asset_path('no_image.jpg'), alt:favorite.product.name, class:"card-img-top card-image")%>
                      <% end %>
                        <div class="card-body">
                          <h5 class="card-title text-truncate"><%= favorite.product.name %>, <%= favorite.product.brand %></h5>
                          <p class="text-truncate mw-2"><%= favorite.product.description %></p>
                          <p><%= "#{show_price(favorite.product.price)}" if current_user&.card_info.present? || current_user&.admin? %></p>
                          <%= button_to 'Excluir', favorite_path(favorite), method: :delete, id: favorite.id, class: 'btn btn-outline-secondary btn-sm w-100' %>
                        </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </section>
      <% end %>
    
    <% else %>
      <p class="text-center"><%= t('.no_favorites_selected') %></p>
    <% end %>
    </div>
  </div>
</div>

