<div class="container-lg text-center pt-3 pe-4 ps-4">
  <h1 class="mb-1 fw-bold"><%= t(:client_area) %></h1>
  <div class="mb-4 mt-4">

    <%= render 'nav-tab' %>
    
    <div class="col-lg col-sm-12 text-start fs-4">
      <div class="row">
        <h3 class="fw-bold"><%= t('.my_account')%></h3>
        <p><%= current_user.name %></p>
        <p><%= current_user.email %></p>
      </div>
      <div class="row mb-2">
      <h3 class="fw-bold"><%= t('.adresses') %></h3>
      <% if current_user&.address_default.present? %>
        <div>
          <%= current_user.address_default.address %>,
          <%= current_user.address_default.number %>
          <%= current_user.address_default.city %> -
          <%= current_user.address_default.state %>
          <%= "#{t('.zipcode')}: " "#{current_user.address_default.zipcode}" %>
        </div>
      <% else %>
        <span><%= t('.not_default_addresses') %><span>
      <% end %>  
      </div>
      <div class="row">
        <h3 class="fw-bold"><%= t('.recent_orders')%></h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Pedido</th>
              <th scope="col">Data</th>
              <th scope="col">Valor</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
