<div class="container-lg text-center pt-3 pe-4 ps-4">
  <h1 class="mb-1 fw-bold"><%= t(:client_area) %></h1>

  <%= render 'nav-tab' %>

  <h3>Meus Pedidos</h3>
  <% if @user_orders.empty? %>
    <p>Não foi encontrado nenhum pedido.</p>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Pedido</th>
          <th scope="col">Data</th>
          <th scope="col">Valor</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <% @user_orders.each do |order|%>
        <tbody>
          <tr>
            <th scope="row"> - </th>
            <td><%= l(order.created_at.to_date) %></td>
            <td><%= number_with_delimiter((order.final_value * order.conversion_tax).round, delimiter: '.') %></td>
            <td>
              <%= t(order.status) %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  <% end %>
</div>
