<p><%= t('.congratulations', indentifier: @resource.email) %></p>

<p><%= t('.we_received_request_change') %></p>

<p><%= link_to t('.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.ignore_if_not_request') %></p>
<p><%= t('.just_changed_through_link') %></p>
