<section class="d-flex flex-column flex-lg-row my-5 gap-3">
  <div class="d-flex gap-2">
    <% if @product.product_images.attached? %>
      <div class="d-inline-flex flex-wrap gap-2" id="images">
        <% @product.product_images.each do |image| %>
          <figure>
            <%= image_tag(image, class:"resize-sml img-cursor", data: { controller: "images", action: "click->images#change" }) %>
          </figure>
        <% end %>
      </div>
      <figure class="px-2" id="display-area">
        <%= image_tag(@product.product_images[0], class: 'resize-big image-size cover-image', id: 'displayed-image')%>
      </figure>
    <% end %>
  </div>
  <div>
    <div class="card-body">
      <h3 class="card-title mb-2 fw-bold"><%= @product.name %> - <%= @product.code %></h3>
      <span class="badge text-bg-primary mt-2 mb-3 fs-4 "><%= load_discount(@product, @company) %></span>
      <h4 class="fw-bold text-primary mb-3"><%= load_end_data(@product, @company) %></h4>
      <dl class="row text-muted fs-5">
        <div class="d-flex">
          <dt class="w-50">Descrição</dt>
          <dd class="w-50"><%= @product.description %></dd>
        </div>
        <div class="d-flex">
          <dt class="w-50">Marca</dt>
          <dd class="w-50"><%= @product.brand %></dd>
        </div>
        <% if current_user&.can_buy? && session[:status_user] == ('unblocked' || 'blocked') || current_user&.admin? %>
          <div class="d-flex">
            <dt class="w-50">Preço</dt> 
            <dd class="w-50"><%= show_promotional_price(@product, @company) %></dd>
          </div>
        <% end %>
        <div class="d-flex">
          <dt class="w-50">Categoria</dt>
          <dd class="w-50"><%= @product.product_category.name %></dd>
        </div>
      </dl>

      <% if user_signed_in? && !current_user.admin? %>
        <% if !current_user.favorite_products.include?(@product) %>
          <%= form_with model: @favorite do |f| %>
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.submit 'Marcar como favorito', class: 'btn btn-secondary' %>
          <% end %>
        <% else %>
          <%= button_to 'Remover dos favoritos', favorite_path(@favorite.id), method: :delete, class: 'btn btn-secondary' %>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <% if current_user&.can_buy? && session[:status_user] == 'unblocked' %>
    <div style="margin-top:20px;">
      <%= form_with(url: add_shopping_carts_path) do |f| %>
        <%= f.hidden_field :id, value: @product.id %>
        <div class="form-group" style="margin-bottom:10px;">
          <%= f.label :quantity, "Quantidade", class: "form-label" %>
          <button type="button" id="decrease_button" class="clean-button" data-controller="quantity" data-action="click->quantity#decrement">-</button>
          <%= f.number_field :quantity, value: 1, class: "text-center", style: "width: 4em;", id: "number_field" %>
          <button type="button" id="increase_button" class="clean-button" data-controller="quantity" data-action="click->quantity#increment">+</button>
        </div>
        <div class="actions"><%= f.submit "Adicionar ao carrinho", class: "btn btn-success mb-3" %></div>
      <% end %>
    </div>
  <% end %>
</section>


