<div >
  <% if @product.product_images.attached? %>
    <% @product.product_images.each do |image| %>
      <%= image_tag image.variant(:thumb) %>
    <% end %>
  <% end %>
</div>
<div class="col-md-8">
  <div class="card-body">
    <h3 class="card-title">Produto <%= @product.code %> - <%= @product.name %></h3>
    <% if user_signed_in? %>
      <% if !current_user.favorite_products.include?(@product) %>
        <%= form_with model: @favorite do |f| %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit 'Marcar como favorito' %>
        <% end %>
      <% else %>
        <%= button_to 'Remover dos favoritos', favorite_path(@favorite.id), method: :delete %>
      <% end %>
    <% end %>

    <dl class="row text-muted">
      <dt class="col-sm-6">Descrição</dt>
      <dd class="col-sm-6"><%= @product.description %></dd>
      <dt class="col-sm-6">Marca</dt>
      <dd class="col-sm-6"><%= @product.brand %></dd>
      <dt class="col-sm-6">Preço</dt>
      <dd class="col-sm-6"><%= number_to_currency @product.price %></dd>
      <dt class="col-sm-6">Categoria</dt>
      <dd class="col-sm-6"><%= @product.product_category.name %></dd>
    </dl>
  </div>
</div>
