<div >
  <% if @product.product_images.attached? %>
    <% @product.product_images.each do |image| %>
      <%= image_tag image.variant(:thumb) %>
    <% end %>
  <% end %>
</div>
<div class="col-md-8">
  <div class="card-body">
    <h3 class="card-title">Produto <%= @product.code %> - <%= @product.name %></h3>
    <dl class="row text-muted">
      <dt class="col-sm-6">Descrição</dt>
      <dd class="col-sm-6"><%= @product.description %></dd>
      <dt class="col-sm-6">Marca</dt>
      <dd class="col-sm-6"><%= @product.brand %></dd>
      <dt class="col-sm-6">Preço</dt>
      <dd class="col-sm-6"><%= number_to_currency @product.price %></dd>
      <dt class="col-sm-6">Categoria</dt>
      <dd class="col-sm-6"><%= @product.product_category.name %></dd>
    </dl>
  </div>
</div>
