<!DOCTYPE html>
<html>
  <head>
    <title>ClubStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
  </head>

  <body>
    <header>
      <%= render 'navbar', locals: { product_categories: @product_categories } %>
    </header>

    <main>
      <%= render 'flash' %>
      <div class="container mt-3">
        <%= yield %>
      </div>
    </main>

    <%= render 'footer' %>
  </body>
</html>
