<!DOCTYPE html>
<html>
  <head>
    <title>ClubStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container mt-3">
      <% if user_signed_in? && current_user.admin? %>
        <p><%= t('adm_tag') %></p>
      <% end %>

      <% if flash.any? %>
        <% flash.each do |type, msg| %>
          <div class=”alert alert-<%= type %>”>
            <%= msg %>
          </div>
        <% end %>
      <% end %>

      <% if user_signed_in? %>
        <%= button_to t('log_out'), destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
